@import url("https://fonts.googleapis.com/css2?family=Hind&family=Mooli&family=Onest:wght@600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  /* font-family: "Mooli", sans-serif; */
  /* font-family: "Hind", sans-serif; */
  font-family: "Mooli", sans-serif;

  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}
h1,
h2,
h3 {
  font-family: "Onest";
}

p {
  font-family: "Onest";
}

span {
  font-family: inherit;
  font-weight: inherit;
}

.bgGrid {
  background-size: 80px 80px;
  background-image: linear-gradient(
      to right,
      rgb(35, 35, 35) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgb(35, 35, 35) 1px, transparent 1px);
}

.dropShadow {
  filter: drop-shadow(-10.8923px 14.523px 35.0973px rgba(29, 140, 242, 0.2));
}

.fadeIn {
  animation: fadeIn 300ms ease-in forwards;
}

.grid-cols2 {
  grid-template-columns: 1fr 1fr;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@layer components {
  /* Button */
  .specialBtn {
    @apply rounded-lg border border-slate-500 py-2 px-5 text-lg font-medium font-[inherit] text-blue-500 bg-inherit hover:border-blue-500 hover:opacity-95;
  }
  .specialBtnDark {
    @apply rounded-lg border border-transparent py-2 px-5 text-lg font-medium font-[inherit] text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:ring-blue-300 focus:ring-opacity-50;
  }
}

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }
}
